/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  /*background-image: url('/static/view/bsfiles/images/main-bg.jpg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;*/
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  /*background-color: #2C3539;*/
  background-color: #E8A317;
  /*background-color: white;*/
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  font-size: 25;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #15317E;
    color: yellow;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  padding-left: 10px;
}
.nav-sidebar > li > span > a.subsidebar {
  padding-right: 20px;
  padding-left: 20px;
  color: yellow;
  font-size: 18px;
  font-weight: 700;
  margin-left: 30px;
}

.nav-sidebar > li > span > a, .nav-sidebar > li > span {
  color: yellow;
  font-size: 20px;
  font-weight: 900;
}

/*.nav-sidebar > .active > li > a > span,
.nav-sidebar > .active > li > a > span:hover,
.nav-sidebar > .active > li > a > span:focus 
*/
.nav-sidebar > .active > li > a,
.nav-sidebar > .active > li > a:hover,
.nav-sidebar > .active > li > a:focus 
{
  color: white;
  background-color: blue;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    /*translate(25px, 51px)*/
    /* 45 is really 360 - 45 */
    rotate(0deg);
  width: 30px;
}
th.rotate > div > span {
  /*border-bottom: 1px solid #ccc;*/
  padding: 1px 1px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
