body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background-image: url('/static/view/bsfiles/images/bg-si.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.verinfo, .compinfo {
  color: white;
  text-align: center;
}

.verinfo { margin-left: 48%; }
.compinfo { margin-left: 46%; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading { padding-left: 25px; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 15px;
}
.form-signin .checkbox .verinfo {
  font-weight: normal;
}
.form-signin .form-control .verinfo{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
